<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ post.title }}</title>
</head>
<body style="background-color: #9aceda;">
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <!-- <p>Posted on {{ post.date_posted }}</p> -->

    <h2>Comments</h2>
    {% for comment in comments %}
        <div>
            <p><strong>{{ comment.name }}</strong> ({{ comment.email }})</p>
            <p>{{ comment.body }}</p>
            <p>Added on {{ comment.date_added }}</p>
        </div>
    {% endfor %}

    <h2>Add a comment</h2>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Add a comment</button>
    </form>
</body>
</html>